@model DuAnCuoiKy_QuanLyHieuThuoc.Models.ChiTietNhap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiTietNhap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HanSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HanSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhieuNhapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhieuNhapNavigation.MaPhieuNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThuocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThuocNavigation.MaThuoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCtn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
